body {font-family: 'PT Sans', Helvetica, Arial, sans-serif; padding: 0px; margin: 0px; }

h1, h2 {padding: 0px 15px;}
button {margin-left: 15px;}
a, a:link, a:active, a:visited {color: #A8000E; text-decoration: none; }
a:hover {color: #A8000E; text-decoration: underline; }

ul {margin: 0px; padding: 0px;}
li {display: block; margin-bottom: 15px; list-style: none; clear: left; width:100%;}

ul li img {display: block; width: 100%;}
ul li h3 {display: block; padding: 15px; background-color: #A8000E; color: white; margin-bottom: 0px;}

cite {padding-left: 15px;}
p {padding-left: 15px;}
p {overflow: auto;}
.permalink {font-size: 0.75em; word-wrap: break-word;}

  
@media only screen and (min-width : 768px) {
li {width: 172px; min-height:300px; margin: 10px; float: left; clear: none; outline: #A8000E solid 2px;}
ul li h3 {margin-top: 0px;}
li.large {width: 556px;}
}





/* h1 {
font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
font-size:70px;
line-height: 1.5em;
margin-bottom: 20px;
padding: 40px 0 .1em 0;
color: #141414;
position: relative;
}
h1:first-of-type {padding-top:0px;}

h2 {
font-family: 'Pt Sans Narrow', Helvetica, Arial, sans-serif;
font-size: 60px;
font-weight: bold;
line-height: 1.4em;
letter-spacing: -2px;
margin-bottom: 20px;
color: #141414;
position: relative;
}

h3 {
font-family: 'PT Sans', Helvetica, Arial, sans-serif;
font-size: 22px;
line-height: 1.4em;
letter-spacing: normal;
margin: 50px 0 20px;
color: #141414;
position: relative;
font-weight: bold;
}


p {
display: block;
font-size: 18px;
line-height: 30px;
margin-bottom: 18px;
} */

/*ul li:nth-child(3n+1) {background-color: #A8000E; color: white;}
ul li:nth-child(3n+1) a {color: #141414;}
ul li:nth-child(3n+1) a:hover {color: white;}

ul li:nth-child(3n+2) {background-color: #141414; color: white;}
ul li:nth-child(3n+2) a {color: #A8000E;}
ul li:nth-child(3n+2) a:hover {color: white;}

ul li:nth-child(3n+3) {background-color: white; color: #141414; border: 1px solid black;}
ul li:nth-child(3n+3) a {color: #A8000E;}
ul li:nth-child(3n+3) a:hover {color: #141414;}*/