/*
    Document   : css/frontend．css
    Created on : 2014-10-04 09:10 PM
    Author     : jonhickman
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

