<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Data Dash 0.3</title>
  <link rel="stylesheet" href="css/presentation.css">
</head>

<body ng-app="dashboardApp">
	<h1>MEN Data Yo</h1>
  <div ng-controller="DashboardController as dash">
    <button ng-click="selectTab(1)">From Now</button><button ng-click="selectTab(2)">From Oct 15th</button>
    <ul>
      <li ng-repeat="entry in entries">

	     <span ng-show="isSelected(1)"> <i>Since Page Load:</i>  
	     	<span ng-show="entry.before">{{entry.unit}}</span>{{(total * entry.multiple)| num | truncate}}<span ng-hide="entry.before">{{entry.unit}}</span>
	     	<span>{{entry.text}}</span>
	     	<span><img src='images/{{entry.image}}' alt='{{entry.imageAlt}}' /></span>
	     	<span><a href="{{entry.citationUrl}}">{{entry.citationText}}</a></span>	     	
	     	<span>{{entry.joiningPhrase}}</span>
	     	<span ng-show="entry.childUnitBefore">{{entry.childUnit}}</span>
	     	<span>{{(total * entry.childMultiple)| num | truncate}}</span>
	     	<span ng-hide="entry.childUnitBefore">{{entry.childUnit}}</span><!-- need to run some filter on this as the maths is running and returning NaN -->
	     	<span>{{entry.childText}}</span>
	     	<span><a href="{{entry.childCitationUrl}}">{{entry.childCitationText}}</a></span>
	     </span>
	     <span ng-show="isSelected(2)"><i>Since October 15th 2013:</i><!-- repeat all changes from above into this -->
	     	<span ng-show="entry.before">{{entry.unit}}</span>{{(total * entry.multiple)| num | truncate}} <span ng-hide="entry.before">{{entry.unit}}</span>
	     	<span>{{entry.text}}</span>
	     	<span>{{entry.citation}}</span>
	     	<span>{{entry.nestedlink}}</span>
	     	<span>{{(total * entry.nestedmultiple)| num | truncate}}</span>
	     	<span>{{entry.nestedtext}}</span>
	     </span>
        
      </li>
    </ul>
  </div>

    
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
<script src="js/data.js"></script>
    
</body>

</html>
