<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Data Dash 0.3</title>
  <link rel="stylesheet" href="css/presentation.css">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
</head>

<body ng-app="dashboardApp">
	<h1>Manchester In Realtime</h1>
  <div ng-controller="DashboardController as dash">
    <button ng-click="selectTab(1)">From Now</button><button ng-click="selectTab(2)">From Oct 15th</button>
    <ul>
      <li ng-repeat="entry in entries" id="{{entry.name | slug}}">
			
	     <div ng-show="isSelected(1)"> <i>Since Page Load:</i>  
	     	<span ng-show="entry.before">{{entry.unit}}</span>{{(total * entry.multiple)| num | truncate}}<span ng-hide="entry.before">{{entry.unit}}</span>
	     	<span>{{entry.text}}</span>
	     	<span ng-show="entry.image != ''"><img src='images/{{entry.image}}' alt='{{entry.imageAlt}}' /></span>
	     	<span><a href="{{entry.citationUrl}}">{{entry.citationText}}</a></span>	     	
	     	
	     	<span ng-show="entry.childMultiple != ''">
	     	<span>{{entry.joiningPhrase}}</span>
	     	<span ng-show="entry.childUnitBefore">{{entry.childUnit}}</span>
	     	{{(total * entry.childMultiple)| num | truncate}}
	     	<span ng-hide="entry.childUnitBefore">{{entry.childUnit}}</span><!-- need to run some filter on this as the maths is running and returning NaN -->
	     	<span>{{entry.childText}}</span>
	     	<span><a href="{{entry.childCitationUrl}}">{{entry.childCitationText}}</a></span>
	     	</span>
	     	Permalink: <a href="#{{entry.name | slug}}">http://data.men.co.uk/#{{entry.name | slug}}</a>
	     </div>
	     <div ng-show="isSelected(2)"><i>Since October 15th 2014:</i><!-- repeat all changes from above into this -->
	     	<span ng-show="entry.before">{{entry.unit}}</span>{{(secondTotal * entry.multiple)| num | truncate}}<span ng-hide="entry.before">{{entry.unit}}</span>
	     	<span>{{entry.text}}</span>
	     	<span ng-show="entry.image != ''"><img src='images/{{entry.image}}' alt='{{entry.imageAlt}}' /></span>
	     	<span><a href="{{entry.citationUrl}}">{{entry.citationText}}</a></span>	     	
	     	
	     	<span ng-show="entry.childMultiple != ''">
	     	<span>{{entry.joiningPhrase}}</span>
	     	<span ng-show="entry.childUnitBefore">{{entry.childUnit}}</span>
	     	{{(total * entry.childMultiple)| num | truncate}}
	     	<span ng-hide="entry.childUnitBefore">{{entry.childUnit}}</span><!-- need to run some filter on this as the maths is running and returning NaN -->
	     	<span>{{entry.childText}}</span>
	     	<span><a href="{{entry.childCitationUrl}}">{{entry.childCitationText}}</a></span>
	     	</span>
	     	Permalink: <a class="fancy" id="{{entry.name | slug}}"href="#{{entry.name | slug}}_box">http://data.men.co.uk/#{{entry.name | slug}}</a>
	     </div>
         <div style="display:none"><div id="{{entry.name | slug}}_box">	
         	CONTENT
         </div></div>
      </li>
    </ul>
  </div>

    
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
<script src="js/data.js"></script>
    
</body>

</html>
